body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background: orange;

  animation-name: move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;

}
/* .box:hover {
  transform: translateX(120px);
  background: skyblue;
} */

@keyframes move {
  0% {
    transform: none;
  }
  80% {
    transform: translateX(300px) rotate(340deg);
  }
  100% {
    transform: translateX(200px) rotate(140deg);
  }
}