body {
  padding: 64px;
}

.box {
  width: 100px;
  height: 100px;
  background: orange;

  transition-property: transform, background;
  transition-duration: 5s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}
.box:hover {
  transform: translateX(120px);
  background: skyblue;
}