body {
  padding: 64px;
}

.loading {
  width: 40px;
  height: 40px;
  border: 8px solid #ccc;
  border-right-color: transparent;
  border-radius: 50%;

  animation: spin .8s infinite linear;
  animation-name: spin;

}

@keyframes spin {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}